.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 67%
    right: 77%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 40%
    right: 10%

@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

// utilities ------------------------------------------
.img75
  width: 75px
.img85
  width: 85px
.img190
  width: 190px
.img265
  width: 265px

.linea-tiempo-d__item__content, .tarjeta tarjeta--gris
  background-color: #fee6d1 !important

.recurso
  width: 120px

.clr--darkBlue
  color: #083142 !important
.clr--white
  color: #ffffff !important
.clr--prime
  color: #FF6148 !important
.relleno-gris
  background-color: #7E7E7E
.tarjeta-gris
  background-color: #F6F6F6
.gris-claro
  background-color: #F6F6F6
.resaltado-blanco
  background-color: #fff
.resaltado-rojo
  background-color: #FF6148
.resaltado-rosado
  background-color: #FED9D3
.rosado-clarito
  background-color: #FFF5F4
.resaltado-amarillo
  background-color: #FEE6D1
.tamano-tarjeta
  width: 380px
  height: 270px
.bloque-texto-d.color-secundario:before
  background-color: #FFF3EA
.fondo3
  background-color: #FFF3EA !important 
.fondo-amarillo2
  background-color: #FEE6D1
  border-top-right-radius: 20px
  border-top-left-radius: 20px
  border-bottom-right-radius: 20px
  border-bottom-left-radius: 20px 
.rosado-curvo
  background-color: #FED9D3
  border-top-right-radius: 20px
  border-top-left-radius: 20px
  border-bottom-right-radius: 20px
  border-bottom-left-radius: 20px 

.contenedor-blanco
  background-color: #ffff
  border-top-right-radius: 20px
  border-top-left-radius: 20px
  border-bottom-right-radius: 20px
  border-bottom-left-radius: 20px 
.resaltado-azul 
  background-color: #083142
.container-gris
  background-color: #E8E8E8
  border-top-right-radius: 20px
  border-top-left-radius: 20px
  border-bottom-right-radius: 20px
  border-bottom-left-radius: 20px
.relleno-rojo
  background-color: #FF6148
  border-top-right-radius: 20px
  border-top-left-radius: 20px
  border-bottom-right-radius: 20px
  border-bottom-left-radius: 20px
.acordion__accion__btn--b
  background-color: #2EFEC7
  border: #00000000
.clase1
  background-color:#FFF1EF
  border-radius: 15px
.tabla-a thead
  border-top: 0px

.tabla-b__header *
  color: #12263F

.fas.fa-car-side:before 
  content: "\f04b"
  color: #FF6E33

.LineaTiempoD
  background-color: #FEE6D1

.LineaTiempoD2
  background-color: #EBEBEB

.tabs-b.color-acento-contenido .tabs-b__tab--active
  border-bottom-color:#2efec7 !important
  border-top-color: #2EFEC7 !important 
.tabs-c.color-acento-contenido .tabs-c__tab--active
  border-bottom-color:#2efec7 !important
.tabs-c.color-acento-contenido .tabs-c__tab--active:before
  border-top-color: #2EFEC7 !important
.tabs-b__tab--active
  border-bottom-color:#2efec7 !important
  border-top-color: #2EFEC7 !important 
  
.azul-borde
  background-color: #083142
  border-radius: 25px
  padding: 10px

.color-acento-botoness
  background-color: #FEE6D1
  color-btn-fondo: #2EFEC7
  color-acento-botones: #2EFEC7
  background: #FEE6D1
.shadow
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)

.br_01
  border-radius: 12px
.br_cstm
  border-top-right-radius: 12px
  border-top-left-radius: 45px
  border-bottom-right-radius: 45px
  border-bottom-left-radius: 12px

.pillTitle
  padding: 0.5rem 2rem
  background-color: white
  border-radius: 999px
  h4
    text-align: center
    margin-bottom: 0 !important

.hg-100
  height: 100%

// Backgrounds caja de Textos LCR:------------------------------------------

.bg--Yellow
  background-color: #FEE6D1
.bg--pink
  background-color: #FFE1DC
.bg--white
  background-color: #ffffff
.bg--darkBlue
  background-color: #083142
.bg--sandia
  background-color: #FF8E7C !important
.bg--piel
  background-color: #FFF1EF !important

//.bg_img_01
  //background-image: url("../assets/curso/temas/recursos/bg_img_01.svg")
 // background-size: cover
  //background-position: left top

.bg_cta
  border-radius: 12px
  background: linear-gradient(180deg, rgba(10,78,106,1) 0%, rgba(2,10,13,1) 90%)

.bloque1
  .bloque-texto-b
      &.color-secundario:before 
        background-color: #FED9D3;
      &::before
        top: 25%;
        left: 70%;
        height: 50%;

.bloque2
  .bloque-texto-b
      &.color-secundario:before 
        background-color: #FFE5CF;
      &::before
        top: -5%
        left: 70%;
        height: 50%;
  
.topSquare
  position: relative
  padding-top: 1em
  & > *
    position: relative
  &::before
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 50%
    height: 40%

.topSquare02
  position: relative
  padding-top: 1em
  & > *
    position: relative
  &::before
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 35%
    height: 80%

.topSquare03
  position: relative
  padding-top: 1em
  & > *
    position: relative
  &::before
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 35%
    height: 80%

  // pasar cursor a las tarjetas color tema1
.tarjeta1
    cursor: pointer
    &:hover
      background-color: #FED9D3 !important

.tarjeta2
  background-color: #FFF1EF
  border: #FFF1EF
  cursor: pointer
  &:hover
    background-color: #FED9D3 !important
//background de os textos con iconos con colorcito. LCR
.topSquare.clr--Yellow, .topSquare02.clr--Yellow::before
  background-color: #FEE6D1
  height: 100%

.topSquare.clr--rosado, .topSquare03.clr--rosado::before
  background-color: #FED9D3
  height: 100%



//fondos colorcitos textos
.fondo-rojo
  background-color: #FFE1DC
  border-left: 8px solid #FF6148
  border-top-right-radius: 15px
  border-bottom-right-radius: 55px
.etiqueta
  font-weight: bold
  padding: 1px 2px 2px

.fondo-rosado
  background-color: #FFF3EA
  border-top-left-radius: 35px
  border-top-right-radius: 35px
  border-bottom-right-radius: 35px
  border-bottom-left-radius: 35px

.fondo-banner2
  background-color: #FEE6D1
  border-top-left-radius: 35px
  border-top-right-radius: 35px
  border-bottom-right-radius: 35px
  border-bottom-left-radius: 35px
.fondo-banner
  background-color: #FFF3EA
  border-top-left-radius: 35px
  border-top-right-radius: 35px
  border-bottom-right-radius: 35px
  border-bottom-left-radius: 35px

.fondo-lcr
  background-color: #FFE1DC
.fondo-amarillo
  background-color: #FEE6D1
.fondo-amarilloclaro
  background-color: #FFFAD8

  //tema 4 acordion
.tabs-a__tab
  background-color: #e8e8e8
.tarjeta1
  background-color: #FFF3EA
  border-radius: 10px
  border: 4px solid #FFF3EA

.acordion 
  .acordion__activo
    background-color: #FFF3EA !important
 
//.linea-tiempo-d__item__content__slot
  background-color: #FEE6D1 !important


// Modales ---------------------------------------

.modal-a__content
  background-color: #1a5974
.modal-a__close-btn i
  color: #2EFFC7

.tarjeta--neutral
  background: #F6F6F6
.acordion__activo
  background-color: #FEE6D1 !important
.color--botones
  background-color:#2EFEC7

// tablas Numerales ---------------------------------------

.bloque-borde-acento-botones
  border: 5px solid #083142
  border-top-left-radius: 55px
  border-top-right-radius: 15px
  border-bottom-right-radius: 55px
  border-bottom-left-radius: 15px
.bloque-borde-acento-contenido
  border: 5px solid #FF6148
  border-top-left-radius: 55px
  border-top-right-radius: 15px
  border-bottom-right-radius: 55px
  border-bottom-left-radius: 15px

.titulo-numero-acento-botones
  height: 100%
  position: relative
  padding-top: 25px
  display: flex
  flex-direction: column
  flex-wrap: wrap
  align-content: center
  justify-content: center
.fondo-1-acento-botones
  margin: 0 auto
  border: 4px solid #083142
  width: 56px
  height: 58px
  border-radius: 50%
  position: absolute
  left: 50%
.titulo-numero-acento-botones h3
  position: absolute
  left: 50%
  top: 0
  transform: translateX(-50%)
  margin: 0 auto
  color: #FFF
  font-size: 23px
  text-align: center
  background-color: #083142
  border: 5px solid #FFF
  border-radius: 50%
  width: 50px
  height: 50px
  display: flex
  flex-direction: column
  flex-wrap: nowrap
  align-content: center
  justify-content: center

.titulo-numero-acento-contenido
  height: 100%
  position: relative
  padding-top: 25px
  display: flex
  flex-direction: column
  flex-wrap: wrap
  align-content: center
  justify-content: center
.fondo-1-acento-contenido
  margin: 0 auto
  border: 4px solid #FF6148
  width: 56px
  height: 58px
  border-radius: 50%
  position: absolute
  left: 50%
.titulo-numero-acento-contenido h3
  position: absolute
  left: 50%
  top: 0
  transform: translateX(-50%)
  margin: 0 auto
  color: #FFF
  font-size: 23px
  text-align: center
  background-color: #FF6148
  border: 5px solid #FFF
  border-radius: 50%
  width: 50px
  height: 50px
  display: flex
  flex-direction: column
  flex-wrap: nowrap
  align-content: center
  justify-content: center

.tabla-b.tabla-3 th
  padding: 10px 5px
.tabla-b.tabla-3 td
  padding: 7px

.titulo-numero-acento-botones
  height: 100%
  position: relative
  padding-top: 25px
  display: flex
  flex-direction: column
  flex-wrap: wrap
  align-content: center
  justify-content: center

p.resaltado-caja
  background-color: #fbe7ed
  border-radius: 50px

@media (min-width: 768px)
  .col-md-6.cajas-numeros
    width: 49%

.tarjeta.tarjeta-flip
  min-height: 350px

.tarjeta-flip.color-acento-contenido .tarjeta-flip__contenido
  background-color: #FF8E7C
  color: #12263F

// Slyder ---------------------------------------


.tema1

  .slyder-a__btn--sigt, .slyder-a__btn--atrs
    background-color: #FF6148
    background-image: url("../assets/curso/flecha.svg") !important 
  
  .slyder-a__bullets__item--active
    background-color: #FF6148 !important
    border: none
  .slyder-a__bullets__item
    background-color: #AFAFAF

.tema2

  .slyder-a__btn--sigt, .slyder-a__btn--atrs
    background-color: #F4F4F5 !important
  .slyder-a__bullets__item--active
    background-color: #083142 !important

.tema5

  .slyder-a__btn--sigt, .slyder-a__btn--atrs
    background-color: #FF6148
  .slyder-a__bullets__item--active
    background-color: #FF6148 !important
    border: none
  .slyder-a__bullets__item
    background-color: #AFAFAF

.horizontal-scroll
  align-items: stretch !important

// IMG HOVER NUMEROS -----------------------------------
.content
  position: relative
  margin: auto
  height: 233px

.content .content-overlay
  border-radius: 10px
  background: rgba(8, 49, 66, 0.95)
  position: absolute
  height: 100%
  left: 0
  top: 0
  bottom: 10%
  right: 0
  opacity: 0
  -webkit-transition: all 0.4s ease-in-out 0s
  -moz-transition: all 0.4s ease-in-out 0s
  transition: all 0.4s ease-in-out 0s
  border-top-left-radius: 55px
  border-top-right-radius: 15px
  border-bottom-right-radius: 55px
  border-bottom-left-radius: 15px

.content:hover .content-overlay
  opacity: 1

.content img
  z-index: 0
  object-fit: cover
  object-position: left top
  height: 100%
  border-top-left-radius: 55px
  border-top-right-radius: 15px
  border-bottom-right-radius: 55px
  border-bottom-left-radius: 15px
  box-shadow: 2px 2px 10px 1px #42424261

.tarjeta-details
  position: absolute
  text-align: center
  padding-left: 1em
  padding-right: 1em
  width: 90%
  top: 0%
  left: 50%
  opacity: 0
  -webkit-transform: translate(-50%, -50%)
  -moz-transform: translate(-50%, -50%)
  transform: translate(-50%, -50%)
  -webkit-transition: all 0.3s ease-in-out 0s
  -moz-transition: all 0.3s ease-in-out 0s
  transition: all 0.3s ease-in-out 0s

.content:hover .tarjeta-details
  top: 49%
  opacity: 1

.fadeIn-top
  top: 20%

@media screen and (max-width: 640px)
  .content
    height: 270px
  .content:hover .tarjeta-details
    top: 55%
  .tarjeta-details
    width: 95% !important

